{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container middle"><div class="modal-confirm"><div class="header-confirm"><h1>Confirmation success</h1></div><br><h3>You successfuly confirmed your account {{ user.username}}</h3>
            <h3><a href="{{ path("fos_user_security_login") }}">Back to main page</a></h3>
        </div></div>
{% endblock fos_user_content %}
